<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link media="all" href="lib/modelmap/modelmap.min.css" type="text/css" rel="stylesheet" />
    <link media="all" href="lib/leaflet/leaflet.css" type="text/css" rel="stylesheet" />
    <link media="all" href="lib/leaflet_label/leaflet.label.css" type="text/css" rel="stylesheet" />
    <link media="all" href="lib/leaflet/leaflet.fusesearch.min.css" type="text/css" rel="stylesheet" />
    <link media="all" href="lib/jquery/jquery-ui.min.css" type="text/css" rel="stylesheet" />
    <link media="all" href="lib/onlinehtmltools/skins/skin11/top.css" type="text/css" rel="stylesheet" />

    <link href="lib/modelmap/fav.ico" type="image/x-icon" rel="shortcut icon" />

    <title>{{model.getName()}}</title>

    <script src="lib/leaflet/leaflet.js" type="text/javascript"></script>
    <script src="lib/leaflet_label/leaflet.label.js" type="text/javascript"></script>
    <script src="lib/leaflet/fuse.min.js" type="text/javascript"></script>
    <script src="lib/leaflet/leaflet.fusesearch.min.js" type="text/javascript"></script>
    <script src="lib/jquery/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="lib/modelmap/maptools.min.js" type="text/javascript"></script>
    <script src="lib/modelmap/popup_formatter.min.js" type="text/javascript"></script>
    <script src="lib/modelmap/geojson_manager.min.js" type="text/javascript"></script>
    <script src="lib/jquery/jquery-ui.min.js" type="text/javascript"></script>
    <script src="lib/onlinehtmltools/skinable_tabs.min.js" type="text/javascript"></script>
</head>
<body>
    <h1 class="capitalize">
        Visualization of <a href="http://www.ebi.ac.uk/biomodels-main/{{model.getId()}}">{{model.getName()}}</a>
    </h1>

    <div class="tabs_holder">
        <ul>
            <li><a href="#tab-descr">Description</a></li>
            <li class="tab_selected"><a href="#tab-viz">Visualization</a></li>
            <li><a href="#tab-down">Embed/Download</a></li>
        </ul>

        <div class="content_holder">
            <div id="tab-descr">
                <p class="margin just" id="descr">
                    {% if notes %}
                        {{ notes }}
                    {% else %}
                        No information about this model was provided in its SBML :(
                    {% endif %}
                </p>
            </div>

            <div class="centre" id="tab-viz">
                {% if comp_c_id2name %}
                <ul class="menu margin centre">
                    {% for (c_id, c_name) in comp_c_id2name %}
                        <li><a href="?id={{c_id}}" class_='menu_{{c_id}}'>{{c_name}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="margin" id="search">
                    <form id="search_form_{{map_id}}" name="search_form">
                    <label><input type="text" name="search_input" id="tags_{{map_id}}" /></label>
                    <input type="button" value="Search" />
                    </form>
                </div>
                <div class="map ui-widget-content" id="{{map_id}}"></div>
                <div class="margin" id="explanations">
                    <p>
                        <span class="pant">Zoom in</span> to see the detailed model.
                        <span class="pant">Zoom out</span> to see the generalized model.
                        <span class="pant">Click</span> on elements to see their annotations.
                        <span class="pant">Adjust</span> map settings <span class="explanation">
                            (top right corner of the map view)</span> to show/hide ubiquitous metabolites and transport reactions.
                    </p>
                    <p>
                        <span style="background-color:#E37B6F">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>/<span style="background-color:#B4B4B4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - specific, but not generalized/ubiquitous metabolites;
                        <span style="background-color:#79A8C9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> - specific, but not generalized reactions.
                    </p>
                    <p>Reactant edges are dashed, product edges are solid lines.</p>
                </div>
            </div>

            <div class="centre" style="min-height: 200px;" id="tab-down">
                <div id="overlay">
                    <div>
                        <a class="boxclose" id="boxclose" onclick="overlay()"></a>
                    <p class="margin">
                        <span>Size: </span>
                        <input class="embed_size" type="text" name="width" value="800" id="embed-size-width" />
                        <span> x </span>
                        <input class="embed_size" type="text" name="height" value="400" id="embed-size-height" />
                    </p>
                    <p class="margin">
                        <input class="embed_url" type="text" name="embedHtml" value="&lt;iframe src=&quot;http://mimoza.bordeaux.inria.fr/{{map_id}}/comp_min.html&quot; width=&quot;800&quot; height=&quot;400&quot; frameborder=&quot;0&quot; style=&quot;border:0&quot;&gt;&lt;/iframe&gt;" id="embed-html-snippet" />
                    </p>
                        <input type="hidden" name="url" value="http://mimoza.bordeaux.inria.fr/{{map_id}}/comp_min.html" id="embed-url" />
                    </div>
                </div>
                <p id="download">Download the <a href={{groups_sbml}} download>generalized model</a>.</p>
                <p>Download everything as a <a href={{archive_url}} download>COMBINE archive</a>.</p>
                <p>Embed the <a onclick="overlay()" href="#">Mimoza view</a> into your page</p>
            </div>
        </div>
    </div>
    {% for json in json_files %}
        <script src="{{json}}" type="text/javascript"></script>
    {% endfor %}
    <script>L_PREFER_CANVAS = true;</script>
    <script type="text/javascript">
        initializeMap({{c_id2json_vars}}, "{{map_id}}", {{c_id2name}}, {{c_id2out_c_id}});
    </script>
    <script>$(function() {$("#{{map_id}}").resizable();});</script>
    <script type="text/javascript">
        $(function() {
            $( ".tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
            $( ".tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
        });
    </script>
    <script>$(function() {$(".tabs").resizable();});</script>
    <script>$(function() {$("#tab_viz").resizable();});</script>
    <script type="text/javascript">
        $('.tabs_holder').skinableTabs({
            effect: 'basic_display',
            skin: 'skin11',
            position: 'top'
        });
    </script>
</body>
</html>