body {
    background-color: #ffffff;
    vertical-align: middle;
}
h1 {
    text-color: #ac3131;
    color: #ac3131;
    text-align: center;
    font-family: "Lucida Sans Unicode",monospace;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}
h2 {
    text-color: #ac3131;
    color: #ac3131;
    text-align: center;
    font-family: "Lucida Sans Unicode",monospace;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}
li {
    font-family: "Lucida Sans Unicode",monospace;
    font-size: 13px;
    line-height: 17px;
}

.capitalize {
    text-transform:capitalize;
}

p {
    font-family: "Lucida Sans Unicode",monospace;
    font-size: 13px;
    line-height: 17px;
    vertical-align: middle;
}

th {
    text-align: center;
}
.centre {
    text-align: center;
    vertical-align: middle;    
}

.just {
    text-align: justify;
    vertical-align: middle;    
}

td a, p.popup a {
    font-size: 10px;
}
p.popup {
    width: auto;
    max-width: 1020px;
    font-weight: 400;
}
p.popup table {
    width:auto;
    max-width: 1020px;
    font-size: 13px;
    display: inline-block;
}

p.popup table td {
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h1 a{
    text-color: #ac3131;
    color: #ac3131;
    display:inline-block;
}
a {
    text-color: #ac3131;
    color: #ac3131;
    display:inline-block;
    text-decoration:underline;
}
a:visited {
    text-color: #773131;
    color: #773131;
}
div.margin {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
    vertical-align: middle;
}

.nomargin {
    text-align: center;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#map {
    border: 1px solid #ac3131;
}

span.pant {
    text-color: #ac3131;
    color: #ac3131;
    font-weight: 500;
    vertical-align: middle;
}
div.image {
    padding-top: 25px;
    vertical-align: middle;
    text-align: center;
}
.indent {
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: middle;
}

ul.menu
{
    list-style-type:none;
    margin:0;
    padding:0;
}
ul.menu li
{
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
    text-transform:capitalize;
}

.leaflet-popup-close-button {
    display:none;
}

.leaflet-label-overlay {
    line-height:0px;
    margin-top: 9px;
    position:absolute;
}

.count-icon {
    padding: 0;
    margin: 0;
    position: absolute;
    border:0px solid red;
    overflow:hidden;
    font-size:14px;
    line-height: auto;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
}