body {
    background-color: #ffffff;
    vertical-align: middle;
}
h1 {
    text-color: #ac3131;
    color: #ac3131;
    text-align: center;
    font-family: "Lucida Sans Unicode";
    font-size: 20px;
    line-height: 26px;
}
h2 {
    text-color: #ac3131;
    color: #ac3131;
    text-align: center;
    font-family: "Lucida Sans Unicode";
    font-size: 14px;
    line-height: 18px;
}
li {
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
    line-height: 17px;
}

.capitalize {
    text-transform:capitalize;
}

p {
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
    line-height: 17px;
    vertical-align: middle;
}

/*html, body, p { margin: 0; padding: 0; font-family: sans-serif;}*/

/*.ellipsis {*/
    /*overflow: hidden;*/
    /*height: 200px;*/
    /*line-height: 25px;*/
    /*margin: 20px;*/
    /*border: 0px solid #AAA; }*/

/*.ellipsis:before {*/
    /*content:"";*/
    /*float: left;*/
    /*width: 5px; height: 200px; }*/

/*.ellipsis > *:first-child {*/
    /*float: right;*/
    /*width: 100%;*/
    /*margin-left: -5px; }*/

/*.ellipsis:after {*/
    /*content: "\02026";*/

    /*box-sizing: content-box;*/
    /*-webkit-box-sizing: content-box;*/
    /*-moz-box-sizing: content-box;*/

    /*float: right; position: relative;*/
    /*top: -25px; left: 100%;*/
    /*width: 3em; margin-left: -3em;*/
    /*padding-right: 5px;*/

    /*text-align: right;*/

    /*background: -webkit-gradient(linear, left top, right top,*/
    /*from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));*/
    /*background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);*/
    /*background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);*/
    /*background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);*/
    /*background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); }*/

th {
    text-align: center;
}
.centre {
    text-align: center;
}
td a, p.popup a {
    font-size: 10px;
}
p.popup {
    max-width: 512px;
}
p.popup table {
    max-width: 512px;
    width: 90%;
}
h1 a{
    text-color: #ac3131;
    color: #ac3131;
    text-align: center;
    font-family: "Lucida Sans Unicode";
    font-size: 18px;
    line-height: 26px;
    margin: 0px;
    padding: 0px;
    display:inline-block;
    vertical-align:middle;
}
a {
    text-color: #ac3131;
    color: #ac3131;
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
    line-height: 17px;
    margin: 0px;
    padding: 0px;
    display:inline-block;
    vertical-align:middle;
}
a:visited {
    text-color: #773131;
    color: #773131;
}
div.margin {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0px;
    vertical-align: middle;
}

.nomargin {
    text-align: center;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

span.pant {
    text-color: #ac3131;
    color: #ac3131;
    font-weight: bold;
    vertical-align: middle;
}
div.image {
    padding-top: 25px;
    vertical-align: middle;
    text-align: center;
}
.indent {
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: middle;
}

ul.menu
{
    list-style-type:none;
    margin:0;
    padding:0;
}
ul.menu li
{
    display:inline;
}

.leaflet-popup-close-button {
    display:none;
}

.leaflet-label-overlay {
    line-height:0px;
    margin-top: 9px;
    position:absolute;
}

.count-icon {
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*text-align:center;*/
    /*vertical-align:middle;*/
    /*display: inline-block;*/
}
/*.sticky {*/
    /*max-width: 90%;*/
    /*max-height: 90%;*/
    /*text-align:center;*/
    /*vertical-align:middle;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
/*}*/

/*.round {*/
    /*display: inline-block;*/
    /*border-radius:50%;*/
    /*-moz-border-radius:50%;*/
    /*-webkit-border-radius: 50%;*/
/*}*/